.pagedjs_page {
  background: white;
  margin-bottom: 30px !important;
}

.pagedjs_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}

.section-content {
    /* Behält Zeilenumbrüche (\n) und mehrfache Leerzeichen aus dem Editor bei 
       und bricht den Text am Zeilenende trotzdem sauber automatisch um */
    white-space: pre-wrap !important; 
}

.char {
  font-family: 'Times New Roman', serif;
  
  /* font-variation-settings: 'slnt' calc(-10 + (var(--char-index) / var(--char-total)) * 10);*/
  /* font-variation-settings: 'wght' calc((sin(var(--char-index) * 15deg) - 1) * -400);*/
  /*font-size: calc((sin(var(--char-index) * 7deg) + 2) * 5pt);*/
  /* font-variation-settings: 'wdth' calc((sin(var(--char-index) * 5deg) - 1) * -75);*/
}

.pagedjs_area {
  text-align: left;
  text-wrap: pretty;
  hyphens: auto; 
}

.pagedjs_area {
 line-height: 16px;
}

/* 1. Die Sektion bleibt ein sauberes Block-Element */
/* Das äußere Element ist ein stinknormaler Block */


/* Der Seitenumbruch: Paged.js führt ihn jetzt absolut fehlerfrei aus,
   weil das Element nicht durch Splitting.js modifiziert wurde */
.book-section + .book-section {
    break-before: page !important;
    page-break-before: always !important;
}